#mainContent {
    position: relative;
    overflow: auto;
    max-height: calc(100% - 56px);
    padding: 2em;
}

p.intro {
    margin: 1em 0 2em 0;
}

#config_main_list {
    border: 2px solid #555555;
}

#config_main_list > thead {
    background-color: #3A4348;
}

.conf-menu {
    display: -webkit-flex; /* Safari */
    display: flex;
}

.conf-menu > li {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    border: 1px solid #555;
}

.conf-menu > li > a {
    display: block;
    text-align: center;
    background-color: #DDD;
    color: #000;
    text-shadow: none;
    line-height: 3em;
}